body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex; /* Добавляем flex-контейнер для управления расположением элементов */
    justify-content: space-between; /* Распределяем элементы по ширине страницы */
    align-items: center; /* Выравниваем элементы по центру вертикально */
}

.header {
    background-color: rgb(221, 215, 215);
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto; /* Логотип будет расположен слева */
}

.navigation {
    margin-right: 20px;
}

.navigation a {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(247, 246, 246); /* Цвет ссылок */
}

.search {
    margin-right: 20px;
}

.burger button {
    background: none;
    color: white
    border: none;
    font-size: 20px;
}

.menu {
    display: none;
}

#content {
    padding: 20px;
}
